.shadowWrapper{
    /* padding: 10px 20px !important; */
}

.barChartContainer{
    padding: 0px !important;
    height: 200px !important;
}

.analyticsCardsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
    height: 100%;
}

.analyticsCardWrapper {
    display: flex;
}