
.packageCard{
    border-radius: 12px;
    border: 1px solid var(--grey-100, #E9E9EA);
    background-color: var(--white);
}

.packageCardHeader{
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color:var(--tidewater-blue);
    padding: 16px 0px;
}

.packageCardHeader h3{
    color: #1B2128;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
}

.body{
    background-color:#F2FFFC;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.body h4{
    color: #323336;
font-family: var(--font-inter);
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.body p{
    color: #151517;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
}