

.notification{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.notification h4{
    color: var(--Heading-color);
    font-family: var(--font-inter);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;   
}

.notificationCardContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.arrow{
    width: 28px;
    height: 28px;
    background-color: var(--deep-teal);
    border-radius: 8px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.noDataFound{
    min-height: 27vh !important;
}




.actionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription{
  color: var(--Heading-color);
  font-family: var(--font-inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.statusPill {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;
}

.completedStatus {
  background-color: #024757;
  color: #ffffff;
  border: 1px solid #024757;
}

.upcomingStatus {
  background-color: #C5F1EE;
  color: #024757;
  border: 1px solid #C5F1EE;
}