.backButton {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--deep-teal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.topHeaderWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.topHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0px;
}

.topHeader h1 {
  color: var(--Heading-color);
  font-family: var(--font-inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
