.mainDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.dropdownContainer {
  max-width: 120px;
}

.mainDiv h4 {
  color: var(--Heading-color, #032e38);
  font-family: var(--font-inter), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
