.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 50;
  /* border-bottom: 0.667px solid var(--white-2); */
  background: #ffffffcc;
  backdrop-filter: blur(6px);
  padding: 20px 0px;
  margin-bottom: 20px;
}


.logo{
  width: 70px;
  height: 70px;
  position: relative;
  flex-shrink: 0;
}

.headerContent{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.headerList,.rightSideAction{
  background-color:var(--deep-teal);
  border-radius: 16px;
  padding: 10px 20px;
}

.btn{
  border-radius: 16px !important;
  background: #FFF !important;
  height: 44px !important;
}

.rightSideAction{
  width: 230px;
  padding: 13px 10px;
  margin-top:0px;
}

.headerList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 auto;
  min-width: 0;
}

.profile{
  width: 44px;
  height: 44px;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--pastel-aqua);
}
.profile img{
  border-radius: 8px;
  object-fit: cover;
}

.rightSideAction{
  display: flex;
  align-items: center;
  gap: 10px;
}

